body{
    background-color: #2300B1;
    margin: 32px;
    height:100vh
    font-family: 'Poppins';
}

.logo{
    color: red;
    font-size: 24px;
    text-decoration: none;
}

.links{
    color: white;
    text-decoration: none;
    font-size: 16px;

}

.red{
    color: red;    
}

nav{
    position: absolute;
    right: 32px;
    top: 32px;
    word-spacing: 48px;
}

h1{
    color: #75BDFF;
    font-size: 48px;
}

.wrapper{
    width: 100%;
}

.container{
    display: flex;
}


.box1{
    min-height: 178px;
    min-width: 506px;
    padding-right: 24px;
}

.box2{
    min-height: 178px;
    min-width: 506px;
    padding-right: 24px;
}

.box3{
    min-height: 178px;
    min-width: 506px;
    padding-right: 24px;
}

p{
    color: white;
    font-size: 18px;
}

.podpis{
    color: #75BDFF;
    text-align: center;
    float: left;
    margin: 24px;
    margin-left: 0;
    

}

footer{
    background-color: white;
    border-radius: 8px;
    position: fixed; bottom: 32px; width: 100%;
}

footer p{
    text-align: center;
    color: #2300B1;

}
